# **THEORY QUESTIONS**

---

**1. What are data structures, and why are they important?**
  - Data structures are organized ways to store and manage data efficiently. They are crucial because they optimize data access, manipulation, and storage, leading to faster and more efficient algorithms and programs.

**2. Explain the difference between mutable and immutable data types with examples?**
  - Mutable data types can be changed after they are created. Examples include lists and dictionaries in Python. If you modify a mutable object, its memory address remains the same.
  - Immutable data types cannot be changed after creation. Strings, integers, and tuples are examples. Any "modification" to an immutable object actually creates a new object in memory.

**3. What are the main differences between lists and tuples in Python ?**
  - The primary difference is mutability: lists are mutable, meaning their elements can be changed, added, or removed after creation, enclosed in []. Tuples are immutable, so their contents cannot be altered once defined, enclosed in (). This makes lists suitable for dynamic collections, while tuples are ideal for fixed data or as dictionary keys due to their immutability.

**4. Describe how dictionaries store data ?**
  - Dictionaries in Python store data as unordered collections of key-value pairs. Each unique, immutable key (like a string, number, or tuple) maps to a specific value, which can be of any data type. They are implemented using hash tables, allowing for very fast retrieval of values by their associated keys.

**5. Why might you use a set instead of a list in Python ?**
  - if we need unique elements: Sets automatically eliminate duplicates, ensuring every item is distinct.
  - Order doesn't matter: Sets are unordered, so if element sequence isn't important, they're a good choice.
  - You need set operations: Sets offer efficient mathematical operations like union, intersection, and difference.

**6. What is a string in Python, and how is it different from a list ?**
  - A string in Python is an immutable sequence of characters, used to represent text. Each character in a string has an assigned index, starting from 0.

  The key differences between a string and a list are:

>> ***Mutability:*** Strings are immutable; once created, their characters cannot be changed. Lists are mutable; their elements can be modified, added, or removed.

>>***Homogeneity:*** Strings are primarily homogeneous (contain only characters), though they can represent numbers as text. Lists can be heterogeneous, storing items of different data types (numbers, other lists, objects, etc.).

>>***Purpose:*** Strings are specifically for textual data manipulation. Lists are for ordered collections of any type of data.

**7. How do tuples ensure data integrity in Python ?**
  - Tuples ensure data integrity because they are immutable. This means once a tuple is created, its elements cannot be changed, added, or removed. This characteristic guarantees that the data within a tuple remains constant throughout its lifecycle, preventing accidental modifications and ensuring reliability, especially when passing data between different parts of a program or using them as dictionary keys.

**8. What is a hash table, and how does it relate to dictionaries in Python ?**
  - A hash table is a data structure that stores key-value pairs using a hash function to compute an index for storing and retrieving elements very quickly.

  - Python dictionaries are implemented using hash tables. When you create a dictionary, Python uses a hash function to convert each key into an index in an underlying array. This allows for highly efficient average-case O(1) time complexity for operations like adding, deleting, and looking up items.

**9. Can lists contain different data types in Python ?**
  - Yes, absolutely! Lists in Python are incredibly flexible and can contain elements of different data types within the same list. For example, a single list can hold integers, strings, floats, booleans, and even other lists or dictionaries

**10. Explain why strings are immutable in Python.**
  - Immutable strings ensure reliability and efficiency in Python. Since their content can't change after creation, they are safely used as dictionary keys (their hash remains constant) and are inherently thread-safe. Apparent modifications create new strings, preventing accidental data corruption and enabling performance optimizations like string interning. This design choice enhances code predictability and simplifies debugging.

**11. What advantages do dictionaries offer over lists for certain tasks ?**
  - Dictionaries excel over lists when you need to store and retrieve data based on unique keys rather than position.

**12. Describe a scenario where using a tuple would be preferable over a list.**
   - for example I am organizing a family's birth dates (day, month, year). A tuple is perfect because these dates won't change. It ensures no one accidentally alters a birthday. For example, (25, 'December', 1980). Lists, being mutable, are less suitable for such fixed, unchanging data.

**13. How do sets handle duplicate values in Python ?**
  - Sets in Python automatically handle duplicate values by discarding them. When you add an element that already exists in a set, the set simply ignores the new addition, ensuring that every element within the set is unique. This makes sets ideal for efficiently maintaining collections of distinct items, without any explicit action needed to remove redundancies.

**14**. How does the “in” keyword work differently for lists and dictionaries ?
  - For lists, "in" iterates through each element to find a match. This is a value-based search.
  - For dictionaries, "in" efficiently checks if the given item exists among the dictionary's keys using hashing. It does not iterate through values.
  
  So, it's a key-based lookup, not a value-based one.

**15. Can you modify the elements of a tuple? Explain why or why not ?**
  - No, we cannot modify the elements of a tuple after it's created. Tuples are immutable data types in Python. This means their internal structure and contents are fixed. Any operation that seems to "change" a tuple, like concatenation, actually results in creating a completely new tuple object in memory, leaving the original unchanged.

**16. What is a nested dictionary, and give an example of its use case ?**
  - A nested dictionary is a dictionary where values are themselves other dictionaries. This allows for hierarchical data storage.

  It is used when Storing information about multiple users, where each user has details like name, age, and contact.

**17. Describe the time complexity of accessing elements in a dictionary.**
- Unable to answer this question.

**18. In what situations are lists preferred over dictionaries ?**
  - Lists are preferred over dictionaries when:

>>***Order matters:*** Lists maintain the insertion order of elements.

>>***Elements are accessed by index:*** When you need sequential access or access by numerical position.

>>***Duplicate values are allowed and meaningful:*** Dictionaries require unique keys.

>>***When we don't need key-value pairs:*** For simple collections where association isn't required.

>>***Performance for iteration is key:*** Iterating through a list can be slightly faster than a dictionary's keys.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval ?**
  - Although dictionaries maintain insertion order now, making them effectively ordered for practical purposes. However, they are still fundamentally accessed by key, not by positional index, which is their primary retrieval mechanism.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
  - For lists, data retrieval is primarily positional, meaning you access elements using their numerical index (e.g., my_list[0]) or by slicing. The order matters for retrieval.

  - For dictionaries, data retrieval is associative, meaning you access values using their unique, immutable keys (e.g., my_dict['key']). Retrieval is direct and doesn't rely on position.



---

# **PRACTICAL QUESTIONS**

---

**1. Write a code to create a string with your name and print it.**

In [1]:
my_name = "Deepanshu Mandwal"
print(my_name)

Deepanshu Mandwal

**2. Write a code to find the length of the string "Hello World"**

In [2]:
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

**3. Write a code to slice the first 3 characters from the string "Python Programming"**

In [3]:
my_string = "Python Programming"
sliced_string = my_string[0:3]
print(sliced_string)

Pyt

**4. Write a code to convert the string "hello" to uppercase**

In [4]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [5]:
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it**

In [6]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [7]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

**9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [9]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [10]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [12]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [13]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_animal = my_tuple.index('cat')
print(index_of_animal)

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [16]:
fruits_tuple = ('apple', 'banana', 'orange')
is_kiwi_present = "kiwi" in fruits_tuple
print(is_kiwi_present)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [18]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [19]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [23]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [24]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [25]:
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [29]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [30]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [31]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = "city" in my_dict
print(key_exists)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [32]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dictionary = {'key1': 'value1', 'key2': 'value2'}

print(my_list)
print(my_tuple)
print(my_dictionary)

[1, 2, 3]
('a', 'b', 'c')
{'key1': 'value1', 'key2': 'value2'}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [35]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[6, 20, 54, 86, 91]

**28.  Write a code to create a list with strings and print the element at the third index.**

In [36]:

my_strings = ["apple", "banana", "cherry", "date", "elderberry"]
element_at_third_index = my_strings[3]
print(element_at_third_index)

date

**29. Write a code to combine two dictionaries into one and print the result.**

In [37]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = dict1.copy()
combined_dict.update(dict2)
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set.**

In [38]:
my_list_of_strings = ["apple", "banana", "apple", "orange", "banana"]
my_set = set(my_list_of_strings)
print(my_set)

{'apple', 'banana', 'orange'}